.metadata/

# Log files
*.log

# Config files
/src/*.config
/configs/

# Data files
*.dat

# Eclipse files
.settings/
.cproject
.project

# Visual Studio Code files
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Generated folders
.deps/
bin/
obj/
build/
#   This pattern ignores any directory named obj in the repository, regardless of its location in the directory tree.
#   For example, it will ignore obj/, src/obj/, docs/obj/, etc.


/cpu/
/entradasalida/
/kernel/
/memoria/
/utils/
#   This pattern is more specific and ignores only the cpu directory at the root of the repository.
#   It will ignore cpu/ but not src/cpu/ or any other cpu directory that is not at the root level.

# Prerequisites
*.d
*.d.timestamp

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf